nav {
  transition: all 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

nav .container-fluid .nav-item:hover {
  color: #42f55d;
  opacity: 1;

  border-bottom: 0.05rem solid #42f55d;
}

nav .navbar-toggler:hover {
  color: black;
  opacity: 0.7;

  background-color: #42f55d;
}

@media (max-width: 993px) {
  nav .container-fluid .nav-item:hover {
    color: #42f55d;

    opacity: 1;
    width: 4rem;
    border-bottom: 0.05rem solid #42f55d;
  }
}
